
.box:nth-child(odd) {    
    height:190px;
    padding: 20px;    
    background-color: #aaaaaa; 
    text-align: center;
       
}

.box:nth-child(even) {
    height:190px;
    padding: 20px;    
    background-color: #eeeeee;      
    text-align: center; 
}





